.menu{
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bold;
    display: flex;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li{
    display: inline;
    float: left;
}

.menu li a{
    display: block;
    padding: 8px;
    background-color: #ffff;
}
