/* RegistroOcorrencia.css */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: #103964;
    padding: 20px;
    width: 600px; /* Tamanho fixo do popup */
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent; /* Fundo transparente */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-size: 24px; /* Tamanho do ícone */
    color: white; /* Altera a cor do ícone para branco */
    transition: transform 0.2s; /* Adiciona uma animação de transformação */
}

.close-button:hover {
    transform: scale(1.1); /* Aumenta levemente o ícone ao passar o mouse */
}

.popup-title {
    margin-bottom: 20px; /* Adiciona espaço inferior de 20px */
    color: white; /* Opcional: certifique-se de que a cor do texto seja visível */
}

.input-row, .input-row-triple {
    display: flex;
    justify-content: space-between; /* Distribuição uniforme */
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1; /* Define que todos os campos ocupam a mesma largura */
    margin-right: 10px; /* Espaço entre os campos */
}

.input-group:last-child {
    margin-right: 0; /* Remove margem do último item */
}

.input-group label {
    margin-bottom: 5px; /* Espaço entre a label e o input */
    color: white;
    text-align: left; /* Alinha a label à esquerda */
}

.input-group input,
.input-group select,
.input-group textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, 0);
    color: white;
    width: 100%; /* Faz o campo ocupar toda a largura do seu container */
}

/* Ajustes para o campo Endereço */
.address-input {
    margin-left: 10px; /* Espaço à esquerda do campo Endereço */
    flex: 2; /* Faz o campo de Endereço ocupar mais espaço relativo */
}

/* Garantindo que os campos Bairro, Município e Estado estejam na mesma linha */
.input-row-triple .input-group {
    flex: 1; /* Faz com que todos os inputs na linha ocupem a mesma largura */
}

.input-row-triple .input-group input {
    max-width: 100%; /* Permite que os campos usem 100% do espaço disponível */
}

/* Estilo específico para a textarea da descrição da ocorrência */
.popup-content textarea {
    resize: vertical; /* Permite o redimensionamento apenas na vertical */
    overflow: auto; /* Adiciona barras de rolagem se o conteúdo exceder o tamanho */
    min-height: 100px; /* Altura mínima para a caixa de texto */
}

/* Estilo do select */
.popup-content select {
    background-color: #103964; /* Cor de fundo do select */
    color: white; /* Cor do texto do select */
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

/* Estilo para a lista de opções do select */
.popup-content select option {
    background-color: #103964; /* Cor de fundo das opções */
    color: white; /* Cor do texto das opções */
}

/* Altera a cor do texto quando a lista é aberta */
.popup-content select:focus option {
    color: white; /* Garante que a cor do texto das opções seja branca */
}

/* Cor do texto do placeholder */
.popup-content select::placeholder {
    color: white; /* Cor do placeholder */
    opacity: 1; /* Para garantir que a cor do placeholder seja aplicada */
}

.register-button {
    padding: 10px;
    background-color: #8F1F1F;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
}
