.map-section {
    padding: 40px; /* Adiciona padding para a seção do mapa */
    width: 1250px;
    max-width: 1400px;
    display: flex;
    flex-direction: column; /* Organiza os elementos na coluna */
    margin: 0 auto;
  }
  
  .map-title {
    font-size: 20px; /* Tamanho do título */
    color: black; /* Cor do título */
    margin-right: 20px; /* Espaçamento à direita do título */
    margin-bottom: 5px;
  }
  
  .map-button {
    width: 100%;
    margin: 0px 0;
  }
  
  .map-button button {
    width: 100%; /* Faz o botão ocupar toda a largura da seção */
    padding: 10px; /* Adiciona padding ao botão */
    font-size: 20px; /* Tamanho do texto do botão */
    color: white; /* Cor do texto do botão */
    background-color: #103964; /* Cor de fundo do botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 0px; /* Borda arredondada do botão */
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o botão */
    margin-bottom: 0px; /* Espaçamento abaixo do botão */
  }
  
  .map-button button:hover {
    background-color: #8F1F1F; /* Cor de fundo do botão ao passar o mouse */
  }
  
  .tables-container {
    display: flex;
    gap: 5px; /* Espaçamento entre as tabelas */
  }
  
  .table {
    display: flex;
    flex-direction: column;
    width: 400px; /* Faz a tabela ocupar toda a largura disponível */
    max-width: 800px; /* Define uma largura máxima para cada tabela */
    border-collapse: collapse; /* Remove espaços entre as células */
    border: 0px solid #ddd; /* Adiciona borda ao redor da tabela */
    padding: 10px; /* Adiciona padding ao redor da tabela */
  }
  
  .table-row {
    display: flex;
    justify-content: center; /* Centraliza o texto na linha da tabela */
    padding: 10px;
    border: 2px solid #8F1F1F;
    color: #8F1F1F;
  }
  
  .table-cell {
    text-align: center; /* Centraliza o texto nas células */
  }

  .second-row {
    background-color: #8F1F1F; /* Cor de fundo para as linhas 2 */
    border: 2px solid #8F1F1F;
    color: #fff;
  }

  